[Unit]
Description=JHOS ZRAM var
DefaultDependencies=no
Before=var.mount
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/os-zram -t fs -m var -s 32M
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=os-zram.target
